@charset 'utf-8';
@import url('common.css');



#aboutS{
    width:100%; height:100vh;
    overflow:hidden;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
}

#aboutS .ab_left{
    width:0%; height:100vh; z-index:1;
    background:linear-gradient(to right, #98837e ,#23212c);
    position:absolute; top:0; left:0;
    font-size:0;
    animation:aboutS_Lb .5s forwards;
}
#aboutS.active .ab_left{
    width:70%; height:100vh; z-index:1;
    background:linear-gradient(to right, #98837e ,#23212c);
    position:absolute; top:0; left:0;
    font-size:0;
    animation:aboutS_LbA .4s .2s forwards;
}
/*animation*/
@keyframes aboutS_Lb{
    100%{width:70%;}
}
@keyframes aboutS_LbA{
    100%{width:0%;}
}
/*animation*/
#aboutS .ab_left .shadow{
    width:100%; height:100%;
    background:linear-gradient(to right, #98837e ,#23212c);
    filter: drop-shadow(8px 8px 6px);
}

#aboutS .ab_left h1{
    position:absolute; top:50%; left:0;
    font-size:3rem;
    transform:rotate(270deg) translate(50px);
    font-family:'khand';
    font-weight: 400;
    letter-spacing: 0.5em;
    margin-top:-41.5px;
    color:#fff;
    animation:L_h1 1s 1s forwards;
    opacity:0;
}
#aboutS.active .ab_left h1{
    position:absolute; top:50%; left:0;
    font-size:3rem;
    transform:rotate(270deg) translate(0px);
    font-family:'khand';
    font-weight: 400;
    letter-spacing: 0.5em;
    margin-top:-41.5px;
    color:#fff;
    animation:L_h1A .3s forwards;
    opacity:1;
}
/*animation*/
@keyframes L_h1{
    0%{}
    100%{
        transform:rotate(270deg) translateX(0px);
        opacity:1;
    }
}
@keyframes L_h1A{
    0%{}
    100%{
        transform:rotate(270deg) translateX(-50px);
        opacity:0;
    }
}
/*animation*/

#aboutS .ab_left .wrap{
    width:70%;
    position:absolute; top:50%; left:23%;
    margin-top:-290px;
    display:grid;
    grid-template-columns: 45% 45%;
    grid-row-gap:15%;
    grid-column-gap:10%;
}
#aboutS .ab_left .wrap div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#aboutS.active .ab_left .wrap div{
    animation:wrap_A .1s forwards;
    opacity:1;
}
#aboutS .ab_left .wrap .b1{
    animation:wrap_ 1s .9s forwards;
    opacity:0;
}
#aboutS .ab_left .wrap .b2{
    animation:wrap_ 1s forwards;
    animation-delay: 1.1s;
    opacity:0;
}
#aboutS .ab_left .wrap .b3{
    animation:wrap_ 1s forwards;
    animation-delay: 1.3s;
    opacity:0;
}
#aboutS .ab_left .wrap .b4{
    animation:wrap_ 1s forwards;
    animation-delay: 1.5s;
    opacity:0;
}
/*animation*/
@keyframes wrap_{
    100%{opacity:1;}
}
@keyframes wrap_A{
    100%{opacity:0;}
}
/*animation*/
#aboutS .ab_left .wrap div h2{
    display:inline-block;
    font-family:'Rajdhani';
    font-weight: 400;
    font-size:1.7em;
    color:#eee;
}
#aboutS .ab_left .wrap div span{
    width:200px; height:200px;
    display:block;
    position:relative;
}
#aboutS .ab_left .wrap div span img{
    position:absolute;
    width:200px;
    margin-top:20px;
}
#aboutS .ab_left .wrap div span img:nth-of-type(2){
    animation:abil 1s .9s forwards;
    transform: rotate(180deg);
}
/*animation*/
@keyframes abil{
    100%{
        transform: rotate(0);
    }
}
/*animation*/
#aboutS .ab_left .wrap .b2 img:nth-of-type(2){
    animation-delay: 1.1s;
}
#aboutS .ab_left .wrap .b3 img:nth-of-type(2){
    animation-delay: 1.3s;
}
#aboutS .ab_left .wrap .b4 img:nth-of-type(2){
    animation-delay: 1.5s;
}

#aboutS .text{
    position:absolute; top:0%; left:50%; z-index: -1;
    writing-mode: vertical-rl;
    text-align: center;
    height:100%;
    margin-left:-30px;
    animation:L_txt 1.3s 1s forwards;
    opacity:0;
}
#aboutS.active .text{
    position:absolute; top:0%; left:100%; z-index: -1;
    writing-mode: vertical-rl;
    text-align: center;
    height:100%;
    margin-left:-30px;
    animation:L_txtA 1.7s forwards;
    opacity:1;
}
/*animation*/
@keyframes L_txt{
    100%{left:100%; opacity:1;}
}
@keyframes L_txtA{
    100%{left:-90px; opacity:1;}
}
/*animation*/
#aboutS .text h2{
    display:inline-block;
    font-family:'khand';
    font-size:3.3em;
    font-weight: 400;
    letter-spacing:0.05em;
    color:#fff;
}
#aboutS .text p{
    display:inline-block;
    font-family: 'Rajdhani';
    font-size:2em;
    color:#ccc;
    margin-top:20px;
}



#aboutS .ab_right{
    width:0%; height:100vh;
    float:left;
    position:relative;
    font-size:0;
    overflow:hidden;
    background:#23212c;
    animation:aboutS_Rb .8s forwards;
    opacity:0;
}
#aboutS.active .ab_right{
    width:100%; height:100vh;
    float:left;
    position:relative;
    font-size:0;
    overflow:hidden;
    background:#23212c;
    animation:aboutS_RbA .8s forwards;
    opacity:1;
}
/*animation*/
@keyframes aboutS_Rb{
    100%{width:100%; opacity:1;}
}
@keyframes aboutS_RbA{
    100%{width:0%; opacity:0;}
}
/*animation*/

#aboutS .ab_right .svg_{
    position:absolute; top:50%; right:9%;
    width:70px;
    height:35px;
    animation:ab_arrow .5s 1s alternate infinite;
    overflow:hidden;
}
#aboutS.active .ab_right .svg_{
    position:absolute; top:50%; right:9%;
    width:70px;
    height:35px;
    overflow:hidden;
    opacity:0;
}
#aboutS svg{
    width:60px;
    transform: translate(5px,5px);
    background:transparent !important;
}
#aboutS .svg_:hover svg{
    filter:drop-shadow(5px 5px 5px #555);
    transform: translate(5px,1px);
}
/*animation*/
@keyframes ab_arrow{
    0%{}
    100%{right:8%; }
}
/*animation*/
#aboutS svg g{
    opacity:0;
    animation:ab_arrow_ 1s forwards;
    animation-delay:2.2s;
}
/*animation*/
@keyframes ab_arrow_{
    0%{opacity:0;}
    100%{opacity:1;}
}
/*animation*/












/*1024------------------------------------------------------------*/


@media(max-width:1024px){
#aboutS{
    width:100%; height:100vh;
    overflow:hidden;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
}

#aboutS .ab_left{
    width:0%; height:100vh; z-index:1;
    background:linear-gradient(to right, #98837e ,#23212c);
    position:absolute; top:0; left:0;
    font-size:0;
    animation:aboutS_Lb .5s forwards;
}
#aboutS.active .ab_left{
    width:73%; height:100vh; z-index:1;
    background:linear-gradient(to right, #98837e ,#23212c);
    position:absolute; top:0; left:0;
    font-size:0;
    animation:aboutS_LbA .4s .2s forwards;
}
/*animation*/
@keyframes aboutS_Lb{
    100%{width:73%;}
}
@keyframes aboutS_LbA{
    100%{width:0%;}
}
/*animation*/
#aboutS .ab_left .shadow{
    width:100%; height:100%;
    background:linear-gradient(to right, #98837e ,#23212c);
    filter: drop-shadow(8px 8px 6px);
}

#aboutS .ab_left h1{
    position:absolute; top:50%; left:-8%;
    font-size:3rem;
    transform:rotate(270deg) translate(50px);
    font-family:'khand';
    font-weight: 400;
    letter-spacing: 0.5em;
    margin-top:-41.5px;
    color:#fff;
    animation:L_h1 1s 1s forwards;
    opacity:0;
}
#aboutS.active .ab_left h1{
    position:absolute; top:50%; left:-8%;
    font-size:3rem;
    transform:rotate(270deg) translate(0px);
    font-family:'khand';
    font-weight: 400;
    letter-spacing: 0.5em;
    margin-top:-41.5px;
    color:#fff;
    animation:L_h1A .3s forwards;
    opacity:1;
}
/*animation*/
@keyframes L_h1{
    0%{}
    100%{
        transform:rotate(270deg) translateX(0px);
        opacity:1;
    }
}
@keyframes L_h1A{
    0%{}
    100%{
        transform:rotate(270deg) translateX(-50px);
        opacity:0;
    }
}
/*animation*/

#aboutS .ab_left .wrap{
    width:70%;
    position:absolute; top:50%; left:21%;
    margin-top:-290px;
    display:grid;
    grid-template-columns: 45% 45%;
    grid-row-gap:15%;
    grid-column-gap:10%;
}
#aboutS .ab_left .wrap div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#aboutS.active .ab_left .wrap div{
    animation:wrap_A .1s forwards;
    opacity:1;
}
#aboutS .ab_left .wrap .b1{
    animation:wrap_ 1s .9s forwards;
    opacity:0;
}
#aboutS .ab_left .wrap .b2{
    animation:wrap_ 1s forwards;
    animation-delay: 1.1s;
    opacity:0;
}
#aboutS .ab_left .wrap .b3{
    animation:wrap_ 1s forwards;
    animation-delay: 1.3s;
    opacity:0;
}
#aboutS .ab_left .wrap .b4{
    animation:wrap_ 1s forwards;
    animation-delay: 1.5s;
    opacity:0;
}
/*animation*/
@keyframes wrap_{
    100%{opacity:1;}
}
@keyframes wrap_A{
    100%{opacity:0;}
}
/*animation*/
#aboutS .ab_left .wrap div h2{
    display:inline-block;
    font-family:'Rajdhani';
    font-weight: 400;
    font-size:1.7em;
    color:#eee;
}
#aboutS .ab_left .wrap div span{
    width:200px; height:200px;
    display:block;
    position:relative;
}
#aboutS .ab_left .wrap div span img{
    position:absolute;
    width:200px;
    margin-top:20px;
}
#aboutS .ab_left .wrap div span img:nth-of-type(2){
    animation:abil 1s .9s forwards;
    transform: rotate(180deg);
}
/*animation*/
@keyframes abil{
    100%{
        transform: rotate(0);
    }
}
/*animation*/
#aboutS .ab_left .wrap .b2 img:nth-of-type(2){
    animation-delay: 1.1s;
}
#aboutS .ab_left .wrap .b3 img:nth-of-type(2){
    animation-delay: 1.3s;
}
#aboutS .ab_left .wrap .b4 img:nth-of-type(2){
    animation-delay: 1.5s;
}

#aboutS .text{
    position:absolute; top:0%; left:50%; z-index: -1;
    writing-mode: vertical-rl;
    text-align: center;
    height:100%;
    margin-left:-21px;
    animation:L_txt 1.3s 1s forwards;
    opacity:0;
}
#aboutS.active .text{
    position:absolute; top:0%; left:100%; z-index: -1;
    writing-mode: vertical-rl;
    text-align: center;
    height:100%;
    margin-left:-21px;
    animation:L_txtA 1.7s forwards;
    opacity:1;
}
/*animation*/
@keyframes L_txt{
    100%{left:100%; opacity:1;}
}
@keyframes L_txtA{
    100%{left:-90px; opacity:1;}
}
/*animation*/
#aboutS .text h2{
    display:inline-block;
    font-family:'khand';
    font-size:2.5em;
    font-weight: 400;
    letter-spacing:0.05em;
    color:#fff;
}
#aboutS .text p{
    display:inline-block;
    font-family: 'Rajdhani';
    font-size:1.5em;
    color:#ccc;
    margin-top:20px;
}



#aboutS .ab_right{
    width:0%; height:100vh;
    float:left;
    position:relative;
    font-size:0;
    overflow:hidden;
    background:#23212c;
    animation:aboutS_Rb .8s forwards;
    opacity:0;
}
#aboutS.active .ab_right{
    width:100%; height:100vh;
    float:left;
    position:relative;
    font-size:0;
    overflow:hidden;
    background:#23212c;
    animation:aboutS_RbA .8s forwards;
    opacity:1;
}
/*animation*/
@keyframes aboutS_Rb{
    100%{width:100%; opacity:1;}
}
@keyframes aboutS_RbA{
    100%{width:0%; opacity:0;}
}
/*animation*/

#aboutS .ab_right .svg_{
    position:absolute; top:50%; right:9%;
    width:70px;
    height:35px;
    animation:ab_arrow .5s 1s alternate infinite;
    overflow:hidden;
}
#aboutS.active .ab_right .svg_{
    position:absolute; top:50%; right:9%;
    width:70px;
    height:35px;
    overflow:hidden;
    opacity:0;
}
#aboutS svg{
    width:60px;
    transform: translate(5px,5px);
    background:transparent !important;
}
#aboutS .svg_:hover svg{
    filter:drop-shadow(5px 5px 5px #555);
    transform: translate(5px,1px);
}
/*animation*/
@keyframes ab_arrow{
    0%{}
    100%{right:8%; }
}
/*animation*/
#aboutS svg g{
    opacity:0;
    animation:ab_arrow_ 1s forwards;
    animation-delay:2.2s;
}
/*animation*/
@keyframes ab_arrow_{
    0%{opacity:0;}
    100%{opacity:1;}
}
/*animation*/
}
/*------------------------------------------------------------1024*/









/*768-------------------------------------------------------------*/


@media(max-width:768px){
#aboutS{
    width:100%; height:100vh;
    overflow:hidden;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
}

#aboutS .ab_left{
    width:0%; height:100vh; z-index:1;
    background:linear-gradient(to right, #98837e ,#23212c);
    position:absolute; top:0; left:0;
    font-size:0;
    animation:aboutS_Lb .5s forwards;
}
#aboutS.active .ab_left{
    width:81%; height:100vh; z-index:1;
    background:linear-gradient(to right, #98837e ,#23212c);
    position:absolute; top:0; left:0;
    font-size:0;
    animation:aboutS_LbA .4s .2s forwards;
}
/*animation*/
@keyframes aboutS_Lb{
    100%{width:81%;}
}
@keyframes aboutS_LbA{
    100%{width:0%;}
}
/*animation*/
#aboutS .ab_left .shadow{
    width:100%; height:100%;
    background:linear-gradient(to right, #98837e ,#23212c);
    filter: drop-shadow(8px 8px 6px);
}

#aboutS .ab_left h1{
    position:absolute; top:50%; left:-14%;
    font-size:3rem;
    transform:rotate(270deg) translate(50px);
    font-family:'khand';
    font-weight: 400;
    letter-spacing: 0.5em;
    margin-top:-41.5px;
    color:#fff;
    animation:L_h1 1s 1s forwards;
    opacity:0;
}
#aboutS.active .ab_left h1{
    position:absolute; top:50%; left:-14%;
    font-size:3rem;
    transform:rotate(270deg) translate(0px);
    font-family:'khand';
    font-weight: 400;
    letter-spacing: 0.5em;
    margin-top:-41.5px;
    color:#fff;
    animation:L_h1A .3s forwards;
    opacity:1;
}
/*animation*/
@keyframes L_h1{
    0%{}
    100%{
        transform:rotate(270deg) translateX(0px);
        opacity:1;
    }
}
@keyframes L_h1A{
    0%{}
    100%{
        transform:rotate(270deg) translateX(-50px);
        opacity:0;
    }
}
/*animation*/

#aboutS .ab_left .wrap{
    width:70%;
    position:absolute; top:50%; left:21%;
    margin-top:-290px;
    display:grid;
    grid-template-columns: 45% 45%;
    grid-row-gap:15%;
    grid-column-gap:10%;
}
#aboutS .ab_left .wrap div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#aboutS.active .ab_left .wrap div{
    animation:wrap_A .1s forwards;
    opacity:1;
}
#aboutS .ab_left .wrap .b1{
    animation:wrap_ 1s .9s forwards;
    opacity:0;
}
#aboutS .ab_left .wrap .b2{
    animation:wrap_ 1s forwards;
    animation-delay: 1.1s;
    opacity:0;
}
#aboutS .ab_left .wrap .b3{
    animation:wrap_ 1s forwards;
    animation-delay: 1.3s;
    opacity:0;
}
#aboutS .ab_left .wrap .b4{
    animation:wrap_ 1s forwards;
    animation-delay: 1.5s;
    opacity:0;
}
/*animation*/
@keyframes wrap_{
    100%{opacity:1;}
}
@keyframes wrap_A{
    100%{opacity:0;}
}
/*animation*/
#aboutS .ab_left .wrap div h2{
    display:inline-block;
    font-family:'Rajdhani';
    font-weight: 400;
    font-size:1.7em;
    color:#eee;
}
#aboutS .ab_left .wrap div span{
    width:200px; height:200px;
    display:block;
    position:relative;
}
#aboutS .ab_left .wrap div span img{
    position:absolute;
    width:200px;
    margin-top:20px;
}
#aboutS .ab_left .wrap div span img:nth-of-type(2){
    animation:abil 1s .9s forwards;
    transform: rotate(180deg);
}
/*animation*/
@keyframes abil{
    100%{
        transform: rotate(0);
    }
}
/*animation*/
#aboutS .ab_left .wrap .b2 img:nth-of-type(2){
    animation-delay: 1.1s;
}
#aboutS .ab_left .wrap .b3 img:nth-of-type(2){
    animation-delay: 1.3s;
}
#aboutS .ab_left .wrap .b4 img:nth-of-type(2){
    animation-delay: 1.5s;
}

#aboutS .text{
    position:absolute; top:0%; left:50%; z-index: -1;
    writing-mode: vertical-rl;
    text-align: center;
    height:100%;
    margin-left:-21px;
    animation:L_txt 1.3s 1s forwards;
    opacity:0;
}
#aboutS.active .text{
    position:absolute; top:0%; left:100%; z-index: -1;
    writing-mode: vertical-rl;
    text-align: center;
    height:100%;
    margin-left:-21px;
    animation:L_txtA 1.7s forwards;
    opacity:1;
}
/*animation*/
@keyframes L_txt{
    100%{left:100%; opacity:1;}
}
@keyframes L_txtA{
    100%{left:-90px; opacity:1;}
}
/*animation*/
#aboutS .text h2{
    display:inline-block;
    font-family:'khand';
    font-size:2.5em;
    font-weight: 400;
    letter-spacing:0.05em;
    color:#fff;
}
#aboutS .text p{
    display:inline-block;
    font-family: 'Rajdhani';
    font-size:1.5em;
    color:#ccc;
    margin-top:20px;
}



#aboutS .ab_right{
    width:0%; height:100vh;
    float:left;
    position:relative;
    font-size:0;
    overflow:hidden;
    background:#23212c;
    animation:aboutS_Rb .7s forwards;
    opacity:0;
}
#aboutS.active .ab_right{
    width:100%; height:100vh;
    float:left;
    position:relative;
    font-size:0;
    overflow:hidden;
    background:#23212c;
    animation:aboutS_RbA .7s forwards;
    opacity:1;
}
/*animation*/
@keyframes aboutS_Rb{
    100%{width:100%; opacity:1;}
}
@keyframes aboutS_RbA{
    100%{width:0%; opacity:0;}
}
/*animation*/

#aboutS .ab_right .svg_{
    position:absolute; top:50%; right:9%;
    width:70px;
    height:35px;
    animation:ab_arrow .5s 1s alternate infinite;
    overflow:hidden;
    display:none;
}
#aboutS.active .ab_right .svg_{
    position:absolute; top:50%; right:9%;
    width:70px;
    height:35px;
    overflow:hidden;
    opacity:0;
}
#aboutS svg{
    width:60px;
    transform: translate(5px,5px);
    background:transparent !important;
}
#aboutS .svg_:hover svg{
    filter:drop-shadow(5px 5px 5px #555);
    transform: translate(5px,1px);
}
/*animation*/
@keyframes ab_arrow{
    0%{}
    100%{right:8%; }
}
/*animation*/
#aboutS svg g{
    opacity:0;
    animation:ab_arrow_ 1s forwards;
    animation-delay:2.2s;
}
/*animation*/
@keyframes ab_arrow_{
    0%{opacity:0;}
    100%{opacity:1;}
}
/*animation*/
}
/*-------------------------------------------------------------768*/











/*480-------------------------------------------------------------*/


@media(max-width:480px){
#aboutS{
    width:100%; height:100vh;
    overflow:visible;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
}

#aboutS .ab_left{
    width:0%; height:100vh; z-index:1;
    background:linear-gradient(to right, #98837e ,#23212c);
    position:absolute; top:0; left:0;
    font-size:0;
    animation:aboutS_Lb .5s forwards;
}
#aboutS.active .ab_left{
    width:81%; height:100vh; z-index:1;
    background:linear-gradient(to right, #98837e ,#23212c);
    position:absolute; top:0; left:0;
    font-size:0;
    animation:aboutS_LbA .4s .2s forwards;
}
/*animation*/
@keyframes aboutS_Lb{
    100%{width:81%;}
}
@keyframes aboutS_LbA{
    100%{width:0%;}
}
/*animation*/
#aboutS .ab_left .shadow{
    width:100%; height:100%;
    background:linear-gradient(to right, #98837e ,#23212c);
    filter: drop-shadow(8px 8px 6px);
}

#aboutS .ab_left h1{
    position:absolute; top:50%; left:-23%;
    font-size:2.3rem;
    transform:rotate(270deg) translate(50px);
    font-family:'khand';
    font-weight: 400;
    letter-spacing: 0.5em;
    margin-top:-41.5px;
    color:#fff;
    animation:L_h1 1s 1s forwards;
    opacity:0;
}
#aboutS.active .ab_left h1{
    position:absolute; top:50%; left:-35%;
    font-size:3rem;
    transform:rotate(270deg) translate(0px);
    font-family:'khand';
    font-weight: 400;
    letter-spacing: 0.5em;
    margin-top:-41.5px;
    color:#fff;
    animation:L_h1A .3s forwards;
    opacity:1;
}
/*animation*/
@keyframes L_h1{
    0%{}
    100%{
        transform:rotate(270deg) translateX(0px);
        opacity:1;
    }
}
@keyframes L_h1A{
    0%{}
    100%{
        transform:rotate(270deg) translateX(-50px);
        opacity:0;
    }
}
/*animation*/

#aboutS .ab_left .wrap{
    width:70%;
    position:absolute; top:50%; left:24%;
    margin-top:-250px;
    display:grid;
    grid-template-columns: 100%;
    grid-row-gap:4%;
    grid-column-gap:0%;
}
#aboutS .ab_left .wrap div{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#aboutS.active .ab_left .wrap div{
    animation:wrap_A .1s forwards;
    opacity:1;
}
#aboutS .ab_left .wrap .b1{
    animation:wrap_ 1s .9s forwards;
    opacity:0;
}
#aboutS .ab_left .wrap .b2{
    animation:wrap_ 1s forwards;
    animation-delay: 1.1s;
    opacity:0;
}
#aboutS .ab_left .wrap .b3{
    animation:wrap_ 1s forwards;
    animation-delay: 1.3s;
    opacity:0;
}
#aboutS .ab_left .wrap .b4{
    animation:wrap_ 1s forwards;
    animation-delay: 1.5s;
    opacity:0;
}
/*animation*/
@keyframes wrap_{
    100%{opacity:1;}
}
@keyframes wrap_A{
    100%{opacity:0;}
}
/*animation*/
#aboutS .ab_left .wrap div h2{
    display:inline-block;
    font-family:'Rajdhani';
    font-weight: 400;
    font-size:1em;
    color:#eee;
}
#aboutS .ab_left .wrap div span{
    width:80px; height:90px;
    display:block;
    position:relative;
}
#aboutS .ab_left .wrap div span img{
    position:absolute;
    width:80px;
    margin-top:5px;
}
#aboutS .ab_left .wrap div span img:nth-of-type(2){
    animation:abil 1s .9s forwards;
    transform: rotate(180deg);
}
/*animation*/
@keyframes abil{
    100%{
        transform: rotate(0);
    }
}
/*animation*/
#aboutS .ab_left .wrap .b2 img:nth-of-type(2){
    animation-delay: 1.1s;
}
#aboutS .ab_left .wrap .b3 img:nth-of-type(2){
    animation-delay: 1.3s;
}
#aboutS .ab_left .wrap .b4 img:nth-of-type(2){
    animation-delay: 1.5s;
}

#aboutS .text{
    position:absolute; top:0%; left:50%; z-index: -1;
    writing-mode: vertical-rl;
    text-align: center;
    height:100%;
    margin-left:-15px;
    animation:L_txt 1.3s 1s forwards;
    opacity:0;
}
#aboutS.active .text{
    position:absolute; top:0%; left:100%; z-index: -1;
    writing-mode: vertical-rl;
    text-align: center;
    height:100%;
    margin-left:-15px;
    animation:L_txtA 1.7s forwards;
    opacity:1;
}
/*animation*/
@keyframes L_txt{
    100%{left:100%; opacity:1;}
}
@keyframes L_txtA{
    100%{left:-90px; opacity:1;}
}
/*animation*/
#aboutS .text h2{
    display:inline-block;
    font-family:'khand';
    font-size:2em;
    font-weight: 400;
    letter-spacing:0.05em;
    color:#fff;
}
#aboutS .text p{
    display:inline-block;
    font-family: 'Rajdhani';
    font-size:1.3em;
    color:#ccc;
    margin-top:20px;
}



#aboutS .ab_right{
    width:0%; height:100vh;
    float:left;
    position:relative;
    font-size:0;
    overflow:hidden;
    background:#23212c;
    animation:aboutS_Rb .7s forwards;
    opacity:0;
}
#aboutS.active .ab_right{
    width:100%; height:100vh;
    float:left;
    position:relative;
    font-size:0;
    overflow:hidden;
    background:#23212c;
    animation:aboutS_RbA .7s forwards;
    opacity:1;
}
/*animation*/
@keyframes aboutS_Rb{
    100%{width:100%; opacity:1;}
}
@keyframes aboutS_RbA{
    100%{width:0%; opacity:0;}
}
/*animation*/

#aboutS .ab_right .svg_{
    position:absolute; top:50%; right:9%;
    width:70px;
    height:35px;
    animation:ab_arrow .5s 1s alternate infinite;
    overflow:hidden;
    display:none;
}
#aboutS.active .ab_right .svg_{
    position:absolute; top:50%; right:9%;
    width:70px;
    height:35px;
    overflow:hidden;
    opacity:0;
}
#aboutS svg{
    width:60px;
    transform: translate(5px,5px);
    background:transparent !important;
}
#aboutS .svg_:hover svg{
    filter:drop-shadow(5px 5px 5px #555);
    transform: translate(5px,1px);
}
/*animation*/
@keyframes ab_arrow{
    0%{}
    100%{right:8%; }
}
/*animation*/
#aboutS svg g{
    opacity:0;
    animation:ab_arrow_ 1s forwards;
    animation-delay:2.2s;
}
/*animation*/
@keyframes ab_arrow_{
    0%{opacity:0;}
    100%{opacity:1;}
}
/*animation*/
}
/*-------------------------------------------------------------480*/