@import url('font.css');

html,body{margin:0; cursor:none; overflow:hidden;}
h1,h2,h3,h4,h5,h6,p,dl,dt,dd,figure,figcaption{
    margin:0; padding:0;
}
ul,li{
    list-style:none; padding:0; margin:0;
}
table{border-collapse:collapse;}

img{border:0;}

a:link,a:hover,a:visited{text-decoration:none;}

*{
    box-sizing:border-box;
    font-family:'';
    font-size:18px; color:#000;
}


/*커서*/
#cursor{
    position:absolute; z-index: 1000;
    width:25px; height:25px;
    border:8px solid #000;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    background:rgba(255,255,255,.5);
}
/*커서*/






header{
    width:100%;
    position:fixed; top:3vh; left:0;
    z-index: 100;
    transition:.2s;
}

.nav-up{
    top:-70px;
}
.fnav-up{
    bottom:-55px;
}

header nav{
    width:90%;
    margin:0 auto;
}
header nav:after{
    content:""; clear:both; display:block;
}
header nav ul{
    float:right;
    transform:translateY(13.5px);
}
header nav ul li{
    float:left;
    margin-left:50px;
    animation:nav 1s forwards;
    transform: translateY(30px);
    opacity:0;
    transition:.3s;
    border-radius: 45%;
    padding:5px 10px;
}
header.active nav ul li{
    float:left;
    margin-left:50px;
    animation:navA .5s forwards;
    transform: translateY(0px);
    opacity:1;
    transition:.3s;
}
/*animation*/
@keyframes nav{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes navA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(-30px);
    }
}
/*animation*/
header nav ul li a{
    font-family:'Montserrat Alternates';
    font-size:1.1em;
    font-weight:400;
}

header div{
    float:left;
    width:80px;
    opacity:0;
    animation:logo 1s forwards;
    transform: translateY(-30px);
    cursor:none;
    padding:10px;
    border-radius: 50%;
    transition:.3s;
}
header.active div{
    float:left;
    width:80px;
    opacity:1;
    animation:logoA .5s forwards;
    transform: translateY(0px);
    cursor:none;
    padding:10px;
    border-radius: 50%;
    transition:.3s;
}
/*animation*/
@keyframes logo{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes logoA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(30px);
    }
}
/*animation*/
header div a{
    display:inline-block;
    cursor:none;
}
header div a img{
    width:100%;
    cursor:none;
}


footer{
    width:100%;
    position:fixed; bottom:3vh; left:0;
    z-index: 100;
    transition:.2s;
}
footer div{
    width:90%; margin:0 auto;
    animation:logo 1s forwards;
    transform: translateY(-30px);
    opacity:0;
}
footer.active div{
    width:90%; margin:0 auto;
    animation:logoA .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
footer div strong{
    color:#ddd;
    font-family:'Montserrat Alternates';
    font-size:1em;
    font-weight:400;
}
footer div p{
    color:#ddd;
    font-family:'Montserrat Alternates';
    font-weight:100;
    font-size:0.8em;
}









/*768------------------------------------------------------------*/


@media(max-width:768px){
    
    
/*커서*/
#cursor{
    position:absolute; z-index: 1000;
    width:25px; height:25px;
    border:8px solid #000;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    background:rgba(255,255,255,.5);
    display:none;
}
/*커서*/

header{
    width:100%;
    position:fixed; top:3vh; left:0;
    z-index: 100;
    transition:.2s;
}

.nav-up{
    top:-70px;
}

header nav{
    width:90%;
    margin:0 auto;
}
header nav:after{
    content:""; clear:both; display:block;
}
header nav ul{
    float:right;
    transform:translateY(5px);
}
header nav ul li{
    float:left;
    margin-left:20px;
    animation:nav 1s forwards;
    transform: translateY(30px);
    opacity:0;
    transition:.3s;
}
header.active nav ul li{
    float:left;
    margin-left:20px;
    animation:navA .5s forwards;
    transform: translateY(0px);
    opacity:1;
    transition:.3s;
}
/*animation*/
@keyframes nav{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes navA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(-30px);
    }
}
/*animation*/
header nav ul li a{
    font-family:'Montserrat Alternates';
    font-size:1em;
    font-weight:400;
    color:#fff;
}

header div{
    float:left;
    width:70px;
    opacity:0;
    animation:logo 1s forwards;
    transform: translateY(-30px)
}
header.active div{
    float:left;
    width:70px;
    opacity:1;
    animation:logoA .5s forwards;
    transform: translateY(0px)
}
/*animation*/
@keyframes logo{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes logoA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(30px);
    }
}
/*animation*/
header div a{
    display:inline-block;
}
header div a img{
    width:100%;
}


footer{
    width:100%;
    position:fixed; bottom:3vh; left:0;
    z-index: 100;
}
footer div{
    width:90%; margin:0 auto;
    animation:logo 1s forwards;
    transform: translateY(-30px);
    opacity:0;
}
footer.active div{
    width:90%; margin:0 auto;
    animation:logoA .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
footer div strong{
    color:#000;
    font-family:'Montserrat Alternates';
    font-size:1em;
    font-weight:600;
}
footer div p{
    color:#000;
    font-family:'Montserrat Alternates';
    font-weight:400;
    font-size:0.8em;
}
}

/*------------------------------------------------------------768*/















/*480------------------------------------------------------------*/


@media(max-width:480px){
    
    
/*커서*/
#cursor{
    position:absolute; z-index: 1000;
    width:25px; height:25px;
    border:8px solid #000;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    background:rgba(255,255,255,.5);
}
/*커서*/

header{
    width:100%;
    position:fixed; top:3vh; left:0;
    z-index: 100;
    transition:.2s;
}

.nav-up{
    top:-70px;
}

header nav{
    width:90%;
    margin:0 auto;
}
header nav:after{
    content:""; clear:both; display:block;
}
header nav ul{
    float:right;
    transform:translateY(5px);
}
header nav ul li{
    float:left;
    margin-left:20px;
    animation:nav 1s forwards;
    transform: translateY(30px);
    opacity:0;
    transition:.3s;
}
header.active nav ul li{
    float:left;
    margin-left:20px;
    animation:navA .5s forwards;
    transform: translateY(0px);
    opacity:1;
    transition:.3s;
}
/*animation*/
@keyframes nav{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes navA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(-30px);
    }
}
/*animation*/
header nav ul li a{
    font-family:'Montserrat Alternates';
    font-size:.8em;
    font-weight:400;
    color:#fff;
}

header div{
    float:left;
    width:60px;
    opacity:0;
    animation:logo 1s forwards;
    transform: translateY(-30px)
}
header.active div{
    float:left;
    width:60px;
    opacity:1;
    animation:logoA .5s forwards;
    transform: translateY(0px)
}
/*animation*/
@keyframes logo{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes logoA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(30px);
    }
}
/*animation*/
header div a{
    display:inline-block;
}
header div a img{
    width:100%;
}


footer{
    width:100%;
    position:fixed; bottom:3vh; left:0;
    z-index: 100;
}
footer div{
    width:90%; margin:0 auto;
    animation:logo 1s forwards;
    transform: translateY(-30px);
    opacity:0;
}
footer.active div{
    width:90%; margin:0 auto;
    animation:logoA .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
footer div strong{
    color:#000;
    font-family:'Montserrat Alternates';
    font-size:1em;
    font-weight:600;
}
footer div p{
    color:#000;
    font-family:'Montserrat Alternates';
    font-weight:400;
    font-size:0.8em;
}
}

/*------------------------------------------------------------480*/


@media(max-width:414px){

/*커서*/
#cursor{
    position:absolute; z-index: 1000;
    width:25px; height:25px;
    border:8px solid #000;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    background:rgba(255,255,255,.5);
    display:none;
}
/*커서*/

}