@charset 'utf-8';
@import url('common.css');


#homeS{}


#homeS .idx_left{
    width:100%; height:100vh;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
    float:left;
    font-size:0;
    animation:leftS .5s forwards;
}
#homeS.active .idx_left{
    width:50%; height:100vh;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
    float:left;
    font-size:0;
    animation:leftSA .3s .5s forwards;
}

/*animation*/
@keyframes leftS{
    100%{width:50%;}
}
@keyframes leftSA{
    100%{width:100%;}
}
/*animation*/

#homeS .idx_left main{
    width:100%; height:100%;
    overflow:hidden;
    text-align:center;
}
#homeS .idx_left main svg{
    filter: grayscale(60%);
}
#main{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 900;
    -webkit-perspective: 900;
    position: absolute;
    background-size: 1800% 1800%;}
#main svg{
    display: block;
    width: 350px;
    position:absolute; top:50%; left:50%;
    margin-top:-249.5px;
    margin-left:-175px;
    opacity:0;
    animation:main_svg 4s .5s forwards;
	}
#homeS.active #main svg{
    display: block;
    width: 350px;
    position:absolute; top:50%; left:50%;
    margin-top:-249.5px;
    margin-left:-175px;
    opacity:1;
    animation:main_svgA .5s forwards;
	}
/*animation*/
@keyframes main_svg{
    0%{}
    100%{opacity:1;}
}
@keyframes main_svgA{
    100%{opacity:0;}
}
/*animation*/
#main svg:not(:root){
    overflow: visible !important;
	}
#homeS .idx_left #f_line{
    display:block;
    width:350px;
    position:absolute; top:50%; left:50%;
    margin-top:-249.5px;
    margin-left:-175px;
    stroke-dasharray: 100 150;
    stroke-dashoffset: 2600;
    animation: L_draw 20s .5s linear infinite;
    animation-delay: 3s;
}
#homeS.active .idx_left #f_line{
    display:block;
    width:350px;
    position:absolute; top:50%; left:50%;
    margin-top:-249.5px;
    margin-left:-175px;
    stroke-dasharray: 100 150;
    stroke-dashoffset: 2600;
    animation: L_draw 20s linear infinite;
    animation-delay: 3s;
    opacity:0;
    transition:.2s;
}
/*animation*/
@keyframes L_draw{
    to{
        stroke-dashoffset:0
    }
}
/*animation*/


#homeS .idx_left .text{
    position:absolute; top:50%; right:0;
    overflow:hidden;
    margin-top:-241.5px;
    animation:txt 1s .5s forwards;
    transform: translateY(-50px);
    opacity:0;
}
#homeS.active .idx_left .text{
    position:absolute; top:50%; right:0;
    overflow:hidden;
    margin-top:-241.5px;
    animation:txtA .5s forwards;
    transform: translateY(0px);
    opacity:1;
}

/*animation*/
@keyframes txt{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes txtA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(50px);
    }
}
/*animation*/

#homeS .idx_left .text p{
    color:#fff;
    text-align: right;
    font-size:7em;
    font-family:'Rajdhani';
    font-weight:300;
}
#homeS .idx_left .text p:nth-of-type(3){
    transform: translateX(0.3em);
}


#homeS .idx_right{
    width:0%; height:100vh;
    float:right;
    position:relative;
    font-size:0;
    overflow:hidden;
    animation:rightS .5s forwards;
}
#homeS.active .idx_right{
    width:50%; height:100vh;
    float:right;
    position:relative;
    font-size:0;
    overflow:hidden;
    animation:rightSA .5s .5s forwards;
}

/*animation*/
@keyframes rightS{
    100%{width:50%;}
}
@keyframes rightSA{
    100%{width:0%;}
}
/*animation*/

#homeS .idx_right .text{
    position:absolute; top:50%; left:0;
    overflow:hidden;
    margin-top:-241.5px;
    animation:txt 1s .5s forwards;
    transform: translateY(50px);
    opacity:0;
}
#homeS.active .idx_right .text{
    position:absolute; top:50%; left:0;
    overflow:hidden;
    margin-top:-241.5px;
    animation:txtB .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
/*animation*/
@keyframes txtB{
    0%{}
    100%{
        opacity:0;
        transform: translateY(-50px);
    }
}
/*animation*/
#homeS .idx_right .text p{
    color:#23212c;
    text-align:left;
    font-size:7em;
    font-family:'Rajdhani';
    font-weight:300;
}
#homeS .idx_right .text p:nth-of-type(3){
    transform: translateX(-0.2em);
}

#homeS .idx_right .shadow{
    position:absolute; top:50%; left:-4%;
    margin-top:-300px;
    width:330px; height:600px;
    display:inline-block;
    box-shadow: 10px 10px 10px 5px #98837e;
    animation:txt 1s .5s forwards;
    transform: translateY(50px);
    opacity:0;
}
#homeS.active .idx_right .shadow{
    position:absolute; top:50%; left:-4%;
    margin-top:-300px;
    width:330px; height:600px;
    display:inline-block;
    box-shadow: 10px 10px 10px 5px #98837e;
    animation:txtB .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
#homeS .idx_right .svg_{
    position:absolute; top:50%; right:17%;
    width:70px;
    height:35px;
    animation:arrow .5s alternate infinite;
}
#homeS .idx_right svg{
    width:60px;
    transform: translate(5px,5px)
}
#homeS .idx_right .svg_:hover ~ #cursor{
    width:100px; height:100px;
}
#homeS .idx_right .svg_:hover svg{
    filter:drop-shadow(5px 5px 5px);
    transform: translate(5px,1px);
}
@keyframes arrow{
    100%{position:absolute; right:15.5%;}
}
#homeS .idx_right svg polygon{
    opacity:0;
    animation:arrow_ 1s .5s forwards;
    animation-delay:1s;
}
#homeS.active .idx_right svg polygon{
    opacity:1;
    animation:arrow_A .5s forwards;
    animation-delay:.3s;
}
/*animation*/
@keyframes arrow_{
    100%{opacity:1;}
}
@keyframes arrow_A{
    100%{opacity:0;}
}
/*animation*/

#homeS .homeS_mobile{
    width:100%; height:50vh;
    float:right;
    font-size:0;
    overflow:hidden;
    transition:.5s 1s;
    display:none;
}
#homeS .homeS_mobile .m_shadow{
    width:80%; height:80%;
    margin:0 auto;
    box-shadow: 5px 5px 5px 1px #98837e;
    margin-top:10%;
    border-left:1px solid#fff;
    border-top:1px solid#fff;
}
#homeS .homeS_mobile .m_shadow .m_text{
    width:100%; height:84%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:8%;
    animation:txt 1s forwards;
    transform: translateY(-50px);
    opacity:0;
}
#homeS .homeS_mobile .m_shadow .m_text p{
    color:#23212c;
    text-align:left;
    font-size:3em;
    font-family:'Rajdhani';
    font-weight:300;
}





/*1024------------------------------------------------------------*/



@media (max-width:1024px){
    
 #homeS{
    width:100%;
}


#homeS .idx_left{
    width:100%; height:100vh;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
    float:left;
    font-size:0;
    animation:leftS .5s forwards;
}
#homeS.active .idx_left{
    width:50%; height:100vh;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
    float:left;
    font-size:0;
    animation:leftSA .3s .5s forwards;
}

/*animation*/
@keyframes leftS{
    100%{width:50%;}
}
@keyframes leftSA{
    100%{width:100%;}
}
/*animation*/

#homeS .idx_left main{
    width:100%; height:100%;
    overflow:hidden;
    text-align:center;
}
#homeS .idx_left main svg{
    filter: grayscale(60%);
}
#main{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 900;
    -webkit-perspective: 900;
    position: absolute;
    background-size: 1800% 1800%;}
#main svg{
    display: block;
    width: 300px;
    position:absolute; top:50%; left:50%;
    margin-top:-218.5px;
    margin-left:-175px;
    opacity:0;
    animation:main_svg 4s forwards;
	}
#homeS.active #main svg{
    display: block;
    width: 300px;
    position:absolute; top:50%; left:50%;
    margin-top:-218.5px;
    margin-left:-175px;
    opacity:1;
    animation:main_svgA .5s forwards;
	}
/*animation*/
@keyframes main_svg{
    0%{}
    100%{opacity:1;}
}
@keyframes main_svgA{
    100%{opacity:0;}
}
/*animation*/
#main svg:not(:root){
    overflow: visible !important;
	}
#homeS .idx_left #f_line{
    display:block;
    width:300px;
    position:absolute; top:50%; left:50%;
    margin-top:-218.5px;
    margin-left:-175px;
    stroke-dasharray: 100 150;
    stroke-dashoffset: 2600;
    animation: L_draw 20s linear infinite;
    animation-delay: 3s;
}
#homeS.active .idx_left #f_line{
    display:block;
    width:300px;
    position:absolute; top:50%; left:50%;
    margin-top:-218.5px;
    margin-left:-175px;
    stroke-dasharray: 100 150;
    stroke-dashoffset: 2600;
    animation: L_draw 20s linear infinite;
    animation-delay: 3s;
    opacity:0;
    transition:.2s;
}
/*animation*/
@keyframes L_draw{
    to{
        stroke-dashoffset:0
    }
}
/*animation*/


#homeS .idx_left .text{
    position:absolute; top:50%; right:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txt 1s forwards;
    transform: translateY(-50px);
    opacity:0;
}
#homeS.active .idx_left .text{
    position:absolute; top:50%; right:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txtA .5s forwards;
    transform: translateY(0px);
    opacity:1;
}

/*animation*/
@keyframes txt{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes txtA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(50px);
    }
}
/*animation*/

#homeS .idx_left .text p{
    color:#fff;
    text-align: right;
    font-size:6em;
    font-family:'Rajdhani';
    font-weight:300;
}
#homeS .idx_left .text p:nth-of-type(3){
    transform: translateX(0.3em);
}


#homeS .idx_right{
    width:0; height:100vh;
    float:right;
    position:relative;
    font-size:0;
    overflow:hidden;
    animation:rightS .5s forwards;
}
    
/*animation*/
@keyframes rightS{
    100%{width:50%;}
}
@keyframes rightSA{
    100%{width:0%;}
}
/*animation*/    

#homeS.active .idx_right{
    width:50%; height:100vh;
    float:right;
    position:relative;
    font-size:0;
    overflow:hidden;
    animation:rightSA .5s .5s forwards;
}

#homeS .idx_right .text{
    position:absolute; top:50%; left:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txt 1s forwards;
    transform: translateY(50px);
    opacity:0;
}
#homeS.active .idx_right .text{
    position:absolute; top:50%; left:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txtB .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
/*animation*/
@keyframes txtB{
    0%{}
    100%{
        opacity:0;
        transform: translateY(-50px);
    }
}
/*animation*/
#homeS .idx_right .text p{
    color:#23212c;
    text-align:left;
    font-size:6em;
    font-family:'Rajdhani';
    font-weight:300;
}
#homeS .idx_right .text p:nth-of-type(3){
    transform: translateX(-0.2em);
}

#homeS .idx_right .shadow{
    position:absolute; top:50%; left:-4%;
    margin-top:-250px;
    width:280px; height:500px;
    display:inline-block;
    box-shadow: 10px 10px 10px 5px #98837e;
    animation:txt 1s forwards;
    transform: translateY(50px);
    opacity:0;
}
#homeS.active .idx_right .shadow{
    position:absolute; top:50%; left:-4%;
    margin-top:-250px;
    width:280px; height:500px;
    display:inline-block;
    box-shadow: 10px 10px 10px 5px #98837e;
    animation:txtB .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
#homeS .idx_right .svg_{
    position:absolute; top:50%; right:17%;
    width:70px;
    height:35px;
    animation:arrow .5s alternate infinite;
}
#homeS .idx_right svg{
    width:60px;
    transform: translate(5px,5px)
}
#homeS .idx_right .svg_:hover svg{
    filter:drop-shadow(5px 5px 5px);
    transform: translate(5px,1px);
}
@keyframes arrow{
    100%{position:absolute; right:15.5%;}
}
#homeS .idx_right svg polygon{
    opacity:0;
    animation:arrow_ 1s forwards;
    animation-delay:1s;
}
#homeS.active .idx_right svg polygon{
    opacity:1;
    animation:arrow_A .5s forwards;
    animation-delay:.3s;
}
/*animation*/
@keyframes arrow_{
    100%{opacity:1;}
}
@keyframes arrow_A{
    100%{opacity:0;}
}
/*animation*/
}

#homeS .homeS_mobile{
    width:100%; height:50vh;
    float:right;
    font-size:0;
    overflow:hidden;
    transition:.5s 1s;
    display:none;
}
#homeS .homeS_mobile .m_shadow{
    width:80%; height:80%;
    margin:0 auto;
    box-shadow: 5px 5px 5px 1px #98837e;
    margin-top:10%;
    border-left:1px solid#fff;
    border-top:1px solid#fff;
}
#homeS .homeS_mobile .m_shadow .m_text{
    width:100%; height:84%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:8%;
    animation:txt 1s forwards;
    transform: translateY(-50px);
    opacity:0;
}
#homeS .homeS_mobile .m_shadow .m_text p{
    color:#23212c;
    text-align:left;
    font-size:3em;
    font-family:'Rajdhani';
    font-weight:300;
}

/*------------------------------------------------------------1024*/






/*768-------------------------------------------------------------*/


@media (max-width:768px){
    
 #homeS{
    width:100%;
}


#homeS .idx_left{
    width:100%; height:100vh;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
    float:left;
    font-size:0;
    animation:leftS .5s forwards;
}
#homeS.active .idx_left{
    width:50%; height:100vh;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
    float:left;
    font-size:0;
    animation:leftSA .3s .5s forwards;
}

/*animation*/
@keyframes leftS{
    100%{width:50%;}
}
@keyframes leftSA{
    100%{width:100%;}
}
/*animation*/

#homeS .idx_left main{
    width:100%; height:100%;
    overflow:hidden;
    text-align:center;
}
#homeS .idx_left main svg{
    filter: grayscale(60%);
}
#main{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 900;
    -webkit-perspective: 900;
    position: absolute;
    background-size: 1800% 1800%;}
#main svg{
    display: block;
    width: 300px;
    position:absolute; top:50%; left:50%;
    margin-top:-218.5px;
    margin-left:-150px;
    opacity:0;
    animation:main_svg 4s forwards;
	}
#homeS.active #main svg{
    display: block;
    width: 300px;
    position:absolute; top:50%; left:50%;
    margin-top:-218.5px;
    margin-left:-150px;
    opacity:1;
    animation:main_svgA .5s forwards;
	}
/*animation*/
@keyframes main_svg{
    0%{}
    100%{opacity:1;}
}
@keyframes main_svgA{
    100%{opacity:0;}
}
/*animation*/
#main svg:not(:root){
    overflow: visible !important;
	}
#homeS .idx_left #f_line{
    display:block;
    width:300px;
    position:absolute; top:50%; left:50%;
    margin-top:-218.5px;
    margin-left:-150px;
    stroke-dasharray: 100 150;
    stroke-dashoffset: 2600;
    animation: L_draw 20s linear infinite;
    animation-delay: 3s;
}
#homeS.active .idx_left #f_line{
    display:block;
    width:300px;
    position:absolute; top:50%; left:50%;
    margin-top:-218.5px;
    margin-left:-150px;
    stroke-dasharray: 100 150;
    stroke-dashoffset: 2600;
    animation: L_draw 20s linear infinite;
    animation-delay: 3s;
    opacity:0;
    transition:.2s;
}
/*animation*/
@keyframes L_draw{
    to{
        stroke-dashoffset:0
    }
}
/*animation*/


#homeS .idx_left .text{
    position:absolute; top:50%; right:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txt 1s forwards;
    transform: translateY(-50px);
    opacity:0;
}
#homeS.active .idx_left .text{
    position:absolute; top:50%; right:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txtA .5s forwards;
    transform: translateY(0px);
    opacity:1;
}

/*animation*/
@keyframes txt{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes txtA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(50px);
    }
}
/*animation*/

#homeS .idx_left .text p{
    color:#fff;
    text-align: right;
    font-size:6em;
    font-family:'Rajdhani';
    font-weight:300;
}
#homeS .idx_left .text p:nth-of-type(3){
    transform: translateX(0.3em);
}


#homeS .idx_right{
    width:0; height:100vh;
    float:right;
    position:relative;
    font-size:0;
    overflow:hidden;
    animation:rightS .5s forwards;
}
    
/*animation*/
@keyframes rightS{
    100%{width:50%;}
}
@keyframes rightSA{
    100%{width:0%;}
}
/*animation*/
    
#homeS.active .idx_right{
    width:50%; height:100vh;
    float:right;
    position:relative;
    font-size:0;
    overflow:hidden;
    animation:rightSA .5s .5s forwards;
}

#homeS .idx_right .text{
    position:absolute; top:50%; left:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txt 1s forwards;
    transform: translateY(50px);
    opacity:0;
}
#homeS.active .idx_right .text{
    position:absolute; top:50%; left:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txtB .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
/*animation*/
@keyframes txtB{
    0%{}
    100%{
        opacity:0;
        transform: translateY(-50px);
    }
}
/*animation*/
#homeS .idx_right .text p{
    color:#23212c;
    text-align:left;
    font-size:6em;
    font-family:'Rajdhani';
    font-weight:300;
}
#homeS .idx_right .text p:nth-of-type(3){
    transform: translateX(-0.2em);
}

#homeS .idx_right .shadow{
    position:absolute; top:50%; left:-4%;
    margin-top:-250px;
    width:280px; height:500px;
    display:inline-block;
    box-shadow: 10px 10px 10px 5px #98837e;
    animation:txt 1s forwards;
    transform: translateY(50px);
    opacity:0;
}
#homeS.active .idx_right .shadow{
    position:absolute; top:50%; left:-4%;
    margin-top:-250px;
    width:280px; height:500px;
    display:inline-block;
    box-shadow: 10px 10px 10px 5px #98837e;
    animation:txtB .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
#homeS .idx_right .svg_{
    position:absolute; top:50%; right:17%;
    width:70px;
    height:35px;
    animation:arrow .5s alternate infinite;
    display:none;
}
#homeS .idx_right svg{
    width:60px;
    transform: translate(5px,5px)
}
#homeS .idx_right .svg_:hover svg{
    filter:drop-shadow(5px 5px 5px);
    transform: translate(5px,1px);
}
@keyframes arrow{
    100%{position:absolute; right:15.5%;}
}
#homeS .idx_right svg polygon{
    opacity:0;
    animation:arrow_ 1s forwards;
    animation-delay:1s;
}
#homeS.active .idx_right svg polygon{
    opacity:1;
    animation:arrow_A .5s forwards;
    animation-delay:.3s;
}
/*animation*/
@keyframes arrow_{
    100%{opacity:1;}
}
@keyframes arrow_A{
    100%{opacity:0;}
}
/*animation*/
}

#homeS .homeS_mobile{
    width:100%; height:50vh;
    float:right;
    font-size:0;
    overflow:hidden;
    transition:.5s 1s;
    display:none;
}
#homeS .homeS_mobile .m_shadow{
    width:80%; height:80%;
    margin:0 auto;
    box-shadow: 5px 5px 5px 1px #98837e;
    margin-top:10%;
    border-left:1px solid#fff;
    border-top:1px solid#fff;
}
#homeS .homeS_mobile .m_shadow .m_text{
    width:100%; height:84%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:8%;
    animation:txt 1s forwards;
    transform: translateY(-50px);
    opacity:0;
}
#homeS .homeS_mobile .m_shadow .m_text p{
    color:#23212c;
    text-align:left;
    font-size:3em;
    font-family:'Rajdhani';
    font-weight:300;
}


/*-------------------------------------------------------------768*/











/*480-------------------------------------------------------------*/


@media (max-width:480px){
    
 #homeS{
    width:100%;
}


#homeS .idx_left{
    width:100%; height:100vh;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
    float:left;
    font-size:0;
    animation:leftS .5s forwards;
}
#homeS.active .idx_left{
    width:100%; height:50vh;
    background:radial-gradient(#98837e ,#23212c);
    position:relative;
    float:left;
    font-size:0;
    animation:leftSA .3s .5s forwards;
}

/*animation*/
@keyframes leftS{
    100%{height:50vh;}
}
@keyframes leftSA{
    100%{height:100vh;}
}
/*animation*/

#homeS .idx_left main{
    width:100%; height:100%;
    overflow:hidden;
    text-align:center;
}
#homeS .idx_left main svg{
    filter: grayscale(60%);
}
#main{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 900;
    -webkit-perspective: 900;
    position: absolute;
    background-size: 1800% 1800%;}
#main svg{
    display: block;
    width: 40%;
    position:absolute; top:50%; left:50%;
    margin-top:-90px;
    margin-left:-72px;
    opacity:0;
    animation:main_svg 4s forwards;
	}
#homeS.active #main svg{
    display: block;
    width: 40%;
    position:absolute; top:50%; left:50%;
    margin-top:-90px;
    margin-left:-72px;
    opacity:1;
    animation:main_svgA .5s forwards;
	}
/*animation*/
@keyframes main_svg{
    0%{}
    100%{opacity:1;}
}
@keyframes main_svgA{
    100%{opacity:0;}
}
/*animation*/
#main svg:not(:root){
    overflow: visible !important;
	}
#homeS .idx_left #f_line{
    display:block;
    width:40%;
    position:absolute; top:50%; left:50%;
    margin-top:-90px;
    margin-left:-72px;
    stroke-dasharray: 100 150;
    stroke-dashoffset: 2600;
    animation: L_draw 20s linear infinite;
    animation-delay: 3s;
}
#homeS.active .idx_left #f_line{
    display:block;
    width:40%;
    position:absolute; top:50%; left:50%;
    margin-top:-90px;
    margin-left:-72px;
    stroke-dasharray: 100 150;
    stroke-dashoffset: 2600;
    animation: L_draw 20s linear infinite;
    animation-delay: 3s;
    opacity:0;
    transition:.2s;
}
/*animation*/
@keyframes L_draw{
    to{
        stroke-dashoffset:0
    }
}
/*animation*/


#homeS .idx_left .text{
    position:absolute; top:50%; right:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txt 1s forwards;
    transform: translateY(-50px);
    opacity:0;
    display:none;
}
#homeS.active .idx_left .text{
    position:absolute; top:50%; right:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txtA .5s forwards;
    transform: translateY(0px);
    opacity:1;
    display:none;
}

/*animation*/
@keyframes txt{
    0%{}
    100%{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes txtA{
    0%{}
    100%{
        opacity:0;
        transform: translateY(50px);
    }
}
/*animation*/

#homeS .idx_left .text p{
    color:#fff;
    text-align: right;
    font-size:6em;
    font-family:'Rajdhani';
    font-weight:300;
}
#homeS .idx_left .text p:nth-of-type(3){
    transform: translateX(0.3em);
}

    
#homeS .idx_right{
    width:0; height:50vh;
    float:right;
    position:relative;
    font-size:0;
    overflow:hidden;
    animation:rightS .5s forwards;
    display:none;
}
#homeS.active .idx_right{
    width:100%; height:50vh;
    float:right;
    position:relative;
    font-size:0;
    overflow:hidden;
    animation:rightSA .5s .5s forwards;
}
    
/*animation*/
@keyframes rightS{
    100%{height:50vh;}
}
@keyframes rightSA{
    100%{height:0vh;}
}
/*animation*/

#homeS .idx_right .text{
    position:absolute; top:50%; left:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txt 1s forwards;
    transform: translateY(50px);
    opacity:0;
}
#homeS.active .idx_right .text{
    position:absolute; top:50%; left:0;
    overflow:hidden;
    margin-top:-205.5px;
    animation:txtB .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
/*animation*/
@keyframes txtB{
    0%{}
    100%{
        opacity:0;
        transform: translateY(-50px);
    }
}
/*animation*/
#homeS .idx_right .text p{
    color:#23212c;
    text-align:left;
    font-size:6em;
    font-family:'Rajdhani';
    font-weight:300;
}
#homeS .idx_right .text p:nth-of-type(3){
    transform: translateX(-0.2em);
}

#homeS .idx_right .shadow{
    position:absolute; top:50%; left:-4%;
    margin-top:-250px;
    width:280px; height:500px;
    display:inline-block;
    box-shadow: 10px 10px 10px 5px #98837e;
    animation:txt 1s forwards;
    transform: translateY(50px);
    opacity:0;
}
#homeS.active .idx_right .shadow{
    position:absolute; top:50%; left:-4%;
    margin-top:-250px;
    width:280px; height:500px;
    display:inline-block;
    box-shadow: 10px 10px 10px 5px #98837e;
    animation:txtB .5s forwards;
    transform: translateY(0px);
    opacity:1;
}
#homeS .idx_right .svg_{
    position:absolute; top:50%; right:17%;
    width:70px;
    height:35px;
    animation:arrow .5s alternate infinite;
    display:none;
}
#homeS .idx_right svg{
    width:60px;
    transform: translate(5px,5px)
}
#homeS .idx_right .svg_:hover svg{
    filter:drop-shadow(5px 5px 5px);
    transform: translate(5px,1px);
}
@keyframes arrow{
    100%{position:absolute; right:15.5%;}
}
#homeS .idx_right svg polygon{
    opacity:0;
    animation:arrow_ 1s forwards;
    animation-delay:1s;
}
#homeS.active .idx_right svg polygon{
    opacity:1;
    animation:arrow_A .5s forwards;
    animation-delay:.3s;
}
/*animation*/
@keyframes arrow_{
    100%{opacity:1;}
}
@keyframes arrow_A{
    100%{opacity:0;}
}
/*animation*/


#homeS .homeS_mobile{
    width:100%; height:0vh;
    float:right;
    font-size:0;
    overflow:visible;
    transition:.5s 1s;
    display:inherit;
    animation:rightS .5s forwards;
}
#homeS.active .homeS_mobile{
    width:100%; height:50vh;
    float:right;
    font-size:0;
    overflow:visible;
    transition:.5s 1s;
    display:inherit;
    animation:rightSA .5s 1s forwards;
}

/*animation*/
@keyframes rightS{
    100%{height:50vh;}
}
@keyframes rightSA{
    100%{height:0vh;}
}
/*animation*/  

#homeS .homeS_mobile .m_shadow{
    width:80%; height:80%;
    margin:0 auto;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.4);
    margin-top:0;
    border-left:1px solid#fff;
    border-top:1px solid#fff;
    animation:main_svg 1s .5s forwards;
    opacity:0;
    position:relative; top:-8%;
    background:#fff;
}
#homeS.active .homeS_mobile .m_shadow{
    width:80%; height:80%;
    margin:0 auto;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.4);
    margin-top:0;
    border-left:1px solid#fff;
    border-top:1px solid#fff;
    animation:main_svgA 1s forwards;
    opacity:1;
    position:relative; top:-8%;
    background:#fff;
}
#homeS .homeS_mobile .m_shadow .m_text{
    width:100%; height:84%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:8%;
    animation:main_svg .5s .6s forwards;
    transform: translateY(0px);
    opacity:0;
}

#homeS .homeS_mobile .m_shadow .m_text p{
    color:#23212c;
    text-align:left;
    font-size:3em;
    font-family:'Rajdhani';
    font-weight:300;
}

}

/*-------------------------------------------------------------480*/